body{
    background-color: darkseagreen;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif
}
#container{
    width: 800px;
    margin: 20px auto; 
    background-color: rgb(134, 202, 24);
    padding: 40px;
    border-left:5px double white;
    border-right:5px double white;
}
h1{
    background-color: azure;
    border: 3px gray;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}
h3{
    padding: 5px;
    border-left: 20px groove #ccc;
    padding-left: 15px;
    border-radius: 30px;
    border-bottom: 2px solid #ccc;
    width: 250px;
}
p{
    line-height: 2.5em;
    background-color: rgb(7, 144, 98);
    padding: 20px;
    border: 2px dotted black;
}
img{
    width: 300px;
    border: 3px solid white;
    border-radius: 15px;
    float: left;
    margin-right: 20px;
}
/*PSEUDO SELECTORS*/ 
a:link{
    color:rgb(5, 105, 55);
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: rgb(45, 200, 100);
}
a:hover{
    color: antiquewhite;
    text-decoration: underline;
}
a:active{
    color:rgb(148, 233, 205);
}
/*ID RULES*/
#pic1{
    border:none;
    width: 250px;
}
#pic2{
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}
#p2{

}
/* CLASS RULE */ 
.highlight{
    background-color:rgb(225, 51, 38);
    color:black;
    padding: 2px;
    border-radius: 3px;
    font-weight: bold;
}
#sidebar{
    background-color: rgb(234, 228, 228);
    width: 200px;
    line-height: 2.5em;
    border:2px solid white;
    flaot: right;
    margin: 20px;
    margin-top: 70px;
}
#sidebar h3{
    border: none;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    margin-top: 15px;
    background-color:darkgreen;
    border: 1px dotted white;
}
li{
    font-style: italic;
}

@media (max-width: 1200px) {
    #container{
        background-color: rgb(4, 145, 4);
        width:600px;
    }
}

@media(max max-width:992px){
    #container{
        background-color: rgb(49, 184, 49);
        width: 100%;
    }
    body, p, #container, #p2, h3{
        margin:0;
        border:none;
        padding: 0;
        background-color: antiquewhite;
    }
    p{
        padding:20px;
    }
}
@media(max-width:768px){
    #sidebar{
        display:none;
    }
    h1{
        border:none;
        background:none;
        color:#ccc
        width:90%;
    }

    img, #pic1{
        width:200px;

    }
}